0. 所有的题目结果中，给出SQL语句和执行结果。

1. 在新数据库中新建一张 user 表,插入几条数据,属性包含:唯一标识(id),姓名(name)性别(sex).年龄(age).联系方式(phone)，数据如下：

    ('John Doe', 'Male', 25, '123-456-7890')

    ('Jane Smith', 'Female', 31, '987-654-3210')
    
    ('Bob Johnson', 'Male', 22, '555-123-4567')

In [1]:
import pymysql

db = pymysql.connect(host='localhost',
                     user='root',
                     password='Lyh15806137705',
                     database='platform')

cursor = db.cursor()
sql = '''CREATE TABLE USER
(
    ID   INT AUTO_INCREMENT PRIMARY KEY,
    name VARCHAR(50) NOT NULL,
    sex VARCHAR(20),
    age INT,
    phone VARCHAR(20)
);'''

cursor.execute(sql)
sql1 = ("INSERT INTO USER(name, age, phone) values('john Doe', 'Male', 25, '123-456-7890'), ('Jane Smith', 'Female', "
        "31, '987-654-3210'), ('Bob Johnson', 'Male', 22, '555-123-4567');")

try:
    cursor.execute(sql1)
    db.commit()
except:
    db.rollback()

2. 写出 SQL语句,查询 user 表中所有年龄在 20-30 范围内的用户

In [4]:
sql = "SELECT name FROM USER WHERE AGE BETWEEN 20 AND 30"

try:
   cursor.execute(sql)
   results = cursor.fetchall()
   for row in results:
      print(row)
except:
   print ("Error: unable to fetch data")

3. 写出SQL语句，向user表中添加自己的个人信息，并添加几条和你姓名同姓的虚拟信息。

In [5]:
sql = ("INSERT INTO USER(name, age, sex, phone) VALUES('刘耀辉', 19, '15151458836'), ('刘志国', 1, '11111111111'), ('刘翔', 2, "
       "'22222222222');")
try:
    cursor.execute(sql)
    db.commit()
except:
    db.rollback()

4. 写出 SQL语句,查询 user 表中年龄在 20-30 范围内,名字包含“你的姓氏”的用户,并按照年龄从大到小排序输出

In [6]:
sql = "SELECT name FROM USER WHERE name LIKE '刘%' AND (age BETWEEN 20 and 30) ORDER BY age DESC"

try:
    cursor.execute(sql)
    results = cursor.fetchall()
    for row in results:
        print(row)
except:
    print("Error: unable to fetch data")

5. 写出 SQL 语句,计算 user 表中所有用户的平均年龄

In [ ]:
sql = "SELECT AVG(age) FROM USER"

try:
    cursor.execute(sql)
    results = cursor.fetchall()
    for row in results:
        print(row)
except:
    print("Error: unable to fetch data")

6. 新建两张表team 表(id,teamName)和score 表(id,teamid,userid,score)。其中score 表中的 teamid 为指向 team表id 的外键，userid 为指向 user表id的外键

In [ ]:
sql = '''
CREATE TABLE team(
    id INT PRIMARY KEY AUTO_INCREMENT,
    teamname VARCHAR(50)
);

CREATE TABLE score(
    id INT PRIMARY KEY  AUTO_INCREMENT,
    teamid INT,
    userid INT,
    score INT,
    FOREIGN KEY(teamid) REFERENCES team(id) ON UPDATE CASCADE ON DELETE CASCADE
)'''
cursor.execute(sql)

7. 在team表中和score表中插入合适的记录，写出 SQL语句,查询 teamName 为“ECNU”的队伍中，年龄小于 20 的用户们，结果不得为空。

In [ ]:
sql = '''
SELECT score.userid FROM score INNER JOIN team ON score.teamid = team.id WHERE score.userid <20 AND team.teamname='ECNU';'''
try:
    cursor.execute(sql)
    results = cursor.fetchall()
    for row in results:
        print(row)
except:
    print("Error: unable to fetch data")

8. 写出 SQL 语句,计算 teamName为“ECNU”的总分(假设 score 存在 null值,nul值默认为 0 加入计算)。

In [ ]:
sql = ''''
SELECT SUM(COALESCE(score.score, 0)) FROM score INNER JOIN team on score.teamid = team.id WHERE team.teamname='ECNU';'''
try:
    cursor.execute(sql)
    results = cursor.fetchall()
    for row in results:
        print(row)
except:
    print("Error: unable to fetch data")

9. 写出SQL语句，删除user表中个人信息的记录。

In [ ]:
sql = "TRUNCATE TABLE user"
cursor.execute(sql)
db.close()